In [1]:
%cd /Users/Deepthi/Documents/DSE/Capstone/Data/From Julius

/Users/Deepthi/Documents/DSE/Capstone/Data/From Julius

In [2]:
import pandas as pd
import numpy as np

In [3]:
womens_scrapped_cpp_br_pr = pd.read_csv('reviews_Women_scraped_cpp.csv')

In [4]:
# womens_scrapped_cpp_br_pr

In [5]:
womens_scrapped_all = pd.read_hdf('cleaned.hd5')

In [6]:
import sklearn.feature_extraction.text 
from sklearn.feature_extraction.text  import TfidfVectorizer

In [7]:
product_title = list(womens_scrapped_all['NAME'].drop_duplicates().dropna())

In [8]:
my_stop_words = sklearn.feature_extraction.text.ENGLISH_STOP_WORDS.union({'women','womens'}) 

# my_stop_words = sklearn.feature_extraction.text.ENGLISH_STOP_WORDS
corpus = product_title

## Considered only 2-grams after trying 1-grams and 3-grams. 2-grams give more meaningful information
vectorizer = TfidfVectorizer(stop_words = set(my_stop_words),ngram_range=(2,2)) 

X = vectorizer.fit_transform(corpus)
idf = vectorizer.idf_

# print dict(zip(vectorizer.get_feature_names(), idf))

In [9]:
# vectorizer.get_feature_names()

In [10]:
z=vectorizer.inverse_transform(X)

In [11]:
bi_grams = list(z[0])
for i in range(1,len(z)):
    bi_grams = bi_grams + list(z[i])

In [12]:
# list(z[0]) + list(z[1])

In [13]:
from collections import Counter
d= Counter(bi_grams)

df = pd.DataFrame.from_dict(d, orient='index').reset_index()

In [14]:
df.columns = [['bigrams','count']]

In [15]:
df.sort_values('count',ascending=False)

                  bigrams  count
25083     sterling silver    963
40572           plus size    331
35742         long sleeve    245
43885        running shoe    231
13494     stainless steel    230
41248    pendant necklace    227
24944       stud earrings    211
38763      cubic zirconia    197
26107        925 sterling    150
12886        sandal black    144
3527            knee high    141
15507         new balance    136
31600          boot black    133
28876        wedge sandal    126
38117         necklace 18    119
25689         ballet flat    102
13813       underwire bra     98
35862     fashion sneaker     98
7111        hoop earrings     96
17610           flip flop     93
22308        short sleeve     92
22991           asics gel     85
35818         yellow gold     82
42492        thong sandal     82
45513           gold tone     81
22595        walking shoe     79
18688      chain necklace     79
4312            mary jane     78
4158           black size     77
25644          anne klein     77
...                   ...    ...
17114         flops brown      1
17116          dcs cotton      1
17085        jeans indigo      1
17117        vintage cute      1
17118      355sgsc ancher      1
17119           charm 6mm      1
17120        shorts coral      1
17121           band high      1
17122       saucony curve      1
17123            set size      1
17106         chain beads      1
17105           wide hand      1
17104       990v3 running      1
17103  generation fashion      1
17088     raspberry shock      1
17089       luggage charm      1
17090          pearl face      1
17091     prom bridesmaid      1
17092        necklace 4mm      1
17093          ombre hoop      1
17094   convertible dress      1
17095    milano slingback      1
17096         double hole      1
17097     seamless tennis      1
17098           chad knee      1
17099       poplin pajama      1
17100         zurich wool      1
17101       jambu gourmet      1
17102        steel mother      1
45958      viscose fringe      1

[45959 rows x 2 columns]

In [16]:
len(df)

45959

In [17]:
len(df[df['count']>2])

4525

In [18]:
# df[df['count']>2]['bigrams']

In [19]:
sel_bigrams=list(df[df['count']>2]['bigrams'])

In [20]:
len(sel_bigrams)

4525

In [21]:
# sel_bigrams

In [22]:
for i in range(len(sel_bigrams)):
    womens_scrapped_all[sel_bigrams[i]]=womens_scrapped_all['NAME'].fillna('0').str.lower()\
                                      .str.contains(sel_bigrams[i]).astype(int)

In [23]:
# len(womens_scrapped_all.columns)

In [24]:
# for i in range(1,10+1):
#     if i < 10:
#         print i
#     else:
#         print 'next number'

In [25]:
## Create a feature vector field by concatenating each of the column generated using the 2-grams

womens_scrapped_all['feature_vector'] = "'"+womens_scrapped_all[sel_bigrams[0]].astype(str)

for i in range(1,len(sel_bigrams)):
#     if i < len(sel_bigrams):
        womens_scrapped_all['feature_vector'] = womens_scrapped_all['feature_vector'].astype(str)\
                                            +womens_scrapped_all[sel_bigrams[i]].astype(str)
#     else:
#         womens_scrapped_all['feature_vector']=womens_scrapped_all['feature_vector']

# df_meta_only_womens['feature_vector']=df_meta_only_womens[0].str.cat(df_meta_only_womens[1])

In [26]:
## Create a feature vector field by concatenating each of the column generated using the 2-grams

womens_scrapped_all['cnt'] = womens_scrapped_all[sel_bigrams[0]].astype(int)

for i in range(1,len(sel_bigrams)):
    womens_scrapped_all['cnt'] = womens_scrapped_all['cnt'].astype(int)\
                                        +womens_scrapped_all[sel_bigrams[i]].astype(int)

# df_meta_only_womens['feature_vector']=df_meta_only_womens[0].str.cat(df_meta_only_womens[1])

In [27]:
# womens_scrapped_all['cnt']

In [28]:
womens_scrapped_all.columns

Index([              u'BRAND',     u'FEATURE_BULLETS',                u'NAME',
            u'ORIGINAL_PRICE', u'PRODUCT_DESCRIPTION', u'PRODUCT_INFORMATION',
                u'SALE_PRICE',                 u'URL',                u'asin',
               u'cz eternity',
       ...
                u'flat brown',         u'style black',         u'lace ruffle',
               u'silver bead',        u'button rings',          u'peace sign',
              u'sleeve dress',          u'ip grooved',      u'feature_vector',
                       u'cnt'],
      dtype='object', length=4536)

In [29]:
womens_scrapped_all[['asin','feature_vector']]

             asin                                     feature_vector
0      B000051SEN  '000000000000000000000000000000000000000000000...
1      B000078CYM  '000000000000000000000000000000000000000000000...
2      B00007FFL9  '000000000000000000000000000000000000000000000...
3      B00007GD8X  '000000000000000000000000000000000000000000000...
4      B00007GD9W  '000000000000000000000000000000000000000000000...
5      B00007GDAL  '000000000000000000000000000000000000000000000...
6      B00007GDD3  '000000000000000000000000000000000000000000000...
7      B00007IVVR  '000000000000000000000000000000000000000000000...
8      B00007GDG5  '000000000000000000000000000000000000000000000...
9      B0000862FI  '000000000000000000000000000000000000000100000...
10     B000086211  '000000000000000000000000000000000000000000000...
11     B0000865II  '000000000000000000000000000000000000000000000...
12     B0000866JI  '000000000000000000000000000000000000000000000...
13     B000086778  '000000000000000000000000000000000000000000000...
14     B0000867GG  '000000000000000000000000000000000000000000000...
15     B0000867ON  '000000000000000000000000000000000000000000000...
16     B0000868O9  '000000000000000000000000000000000000000000000...
17     B000086910  '000000000000000000000000000000000000000000000...
18     B0000869QI  '000000000000000000000000000000000000000000000...
19     B0000891IO  '000000000000000000000000000000000000000000000...
20     B0000891K0  '000000000000000000000000000000000000000000000...
21     B00008AALU  '000000000000000000000000000000000000000000000...
22     B00008I8YM  '000000000000000000000000000000000000000000000...
23     B00008ECKG  '000000000000000000000000000000000000000000000...
24     B00008ID0L  '000000000000000000000000000000000000000000000...
25     B00008ID1O  '000000000000000000000000000000000000000000000...
26     B00008ID39  '000000000000000000000000000000000000000000000...
27     B00008IEUW  '000000000000000000000000000000000000000000000...
28     B00008KH9C  '000000000000000000000000000000000000000000000...
29     B00008LUS5  '000000000000000000000000000000000000000000000...
...           ...                                                ...
12909  B0007SUE56  '000000000000000000000000000000000000000000000...
12911  B000GYR9G8  '000000000000000000000000000000000000000000000...
12912  B00CWW1Q1Q  '000000000000000000000000000000000000000000000...
12913  B00GJG91RM  '000000000000001000000000000000000000000000000...
12914  B00CN4NNJ6  '000000000000000000000000000000000000000000000...
12915  B000TE2EM4  '000000000000000000000000000000000000000000000...
12916  B000M3KYL0  '000000000000000000000000000000000000000000000...
12917  B000UZAF14  '000000000000000000000000000000000000000000000...
12918  B00E5GH5BM  '000000000000000000000000000000000000000000000...
12919  B000GAW1BU  '000000000000000000000000000000000000000000000...
12921  B000VK2L8S  '000000000000000000000000000000000000000000000...
12922  B000PU3INQ  '000000000000000000000000000000000000000000000...
12923  B004KHSA7O  '000000000000000000000000000000000000000000000...
12924  B000K96U8M  '000000000000000000000000000000000000000000000...
12926  B0009KNC5Q  '000000000000000000000000000000000000000000000...
12927  B00518GZ1O  '000000000000000000000000000000000000000000000...
12928  B000P50IAC  '000000000000000000000000000000000000000000000...
12929  B009EN0NFQ  '000000000000000000000000000000000000000000000...
12930  B000VA4L9U  '000000000000000000000000000000000000000000000...
12931  B00H2VRZEY  '000000000000000000000000000000000000000000000...
12932  B00EJZUCQY  '000000000000000000000000000000000000000000000...
12934  B000B76XEO  '000000000000000000000000000000000000000000000...
12935  B00DM05FV4  '000000000000000000000000000000000000000000000...
12936  B000LWKD5E  '000000000000000000000000000000000000000000000...
12937  B000ULSETS  '000000000000000000000000000000000000000000000...
12938  B0007VU7HI  '000000000000000000000000000000000000000000000...
12939  B000SMNK5C  '000000000000000000000000000000000000000000000...
12940  B00DEVVP2Y  '000000000000000000000000000000000000000000000...
12941  B000SMNKMK  '000000000000000000000000000000000000000000000...
12942  B00551OXU2  '000000000000000000000000000000000000000000000...

[12725 rows x 2 columns]

In [30]:
# for i in range(len(womens_scrapped_all['feature_vector'])):
#     if (len(womens_scrapped_all['feature_vector'][i])) == 0:
#         print 1
# #     else:
# #         print 0

In [31]:
# womens_scrapped_cpp_br_pr

In [32]:
womens_scrapped_cpp_br_pr = womens_scrapped_cpp_br_pr.sort_values(by='asin')

In [33]:
womens_scrapped_all = womens_scrapped_all.sort_values(by='asin')

In [34]:
# womens_scrapped_cpp_br_pr_for_merge=womens_scrapped_cpp_br_pr[womens_scrapped_cpp_br_pr['asin'].isin(list(womens_scrapped_all['asin']))]

In [35]:
# womens_scrapped_cpp_br_pr_for_merge

In [36]:
final=womens_scrapped_cpp_br_pr.merge(womens_scrapped_all[['asin','feature_vector']], on='asin', how='left')\
[['reviewerID','asin','unixReviewTime','brand','price','feature_vector']]

In [37]:
# final = pd.merge(womens_scrapped_cpp_br_pr,womens_scrapped_all[['asin','feature_vector']], on='asin',how='left')\
# [['reviewerId','asin','unixReviewTime','brand','price','feature_vector']]

In [38]:
final = final.drop_duplicates()

In [39]:
womens_scrapped_cpp_br_pr.count()

Unnamed: 0        183973
reviewerID        183973
asin              183973
unixReviewTime    183973
brand             162065
price             139150
dtype: int64

In [40]:
# womens_scrapped_all.count()

In [41]:
final.count()

reviewerID        181329
asin              181329
unixReviewTime    181329
brand             159421
price             136746
feature_vector    155757
dtype: int64

In [42]:
# 190695-183973

In [43]:
womens_scrapped_cpp_br_pr.columns

Index([u'Unnamed: 0', u'reviewerID', u'asin', u'unixReviewTime', u'brand',
       u'price'],
      dtype='object')

In [44]:
final.to_csv('reviews_cellphone_scraped_cpp_fv_2.csv',index=False)

In [45]:
final.count()

reviewerID        181329
asin              181329
unixReviewTime    181329
brand             159421
price             136746
feature_vector    155757
dtype: int64